#header{
	color: #f005ff;	
	margin-left: 10px;
}

#img_1{
	height: 600px;
	width: 800px;
}
body{

	color: white;
	background-color: #020202;

}

#bg{
	opacity: 0.6;
	background-size: cover;
}

#para{
/*	display: flex;*/
	color: red;
/*	background-color: black;*/
}